---
layout: default
title: Home
---
<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12">👋 hello,</div>
    <div class="col-md-6 col-sm-12">
      <div class="d-flex justify-content-between">
        <span>I'm Oğuz <span class="note">Oɣuz</span></span>
        {% if site.author %}
          <div class="link-container" style="display:inline; max-height:1em;">
          {% for c in site.author.contact %}
              <a href="{{c[1]}}" target="_blank"><img id="{{c[0]}}-link" class="icon-link" src="{{site.baseurl}}/assets/img/{{c[0]}}.png" alt="{{c[0]}}"></a>
          {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h1>blog <a href="feed.xml"><i class="fas fa-rss"></i></a></h1>
      <ul id="post-list">
        {% for post in site.posts %}
          <li><span class="note">{{ post.category }}</span> <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-6 col-sm-12">
      {% if site.stuff.size %}
        <h1>stuff</h1>
        <ul id="stuff-list">
        {% for page in site.stuff %}
            <li><a href="{{page.url}}">{{page.title}}</a></li>
        {% endfor %}
        </ul>
      {% endif %}

      <h1>projects</h1>
      <ul id="project-list">
        {% for project in site.data.projects %}
          <li><span class="note">{{project.date}}</span> {{project.description | remove: '<p>' | remove: '</p>'}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
